.button {}

.iconButton {}

.menuIconButton {
    width: fit-content;
    height: fit-content;
    background: none;
    border: none;
    cursor: pointer;
    margin-top: 4px;
    margin-bottom: 4px;
    color: var(--mnubtnclr);
  }