#message {
  background: var(--accent);
  color: whitesmoke;
  padding: 3.5px 5px;
  border-radius: 0.5em;
  width: max-content;
  max-width: calc(100% - 10px);
  word-wrap: break-word;
  overflow: hidden;
}

pre {
  font-family: "Inter Tight", sans-serif;
  white-space: pre-wrap;
  margin: 0;
}

.userDisplay {
  display: flex;
  justify-content: center;
  width: fit-content;
  margin-bottom: 4px;
}

.userDisplay > svg {
  margin-right: 4px;
  border-radius: 20px;
}