.menuContainer {
  position: fixed;
  top: 0;
  background: var(--menubg);
  width: 48px;
  height: 100vh;
  left: 0;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  z-index: 9999;
  overflow: hidden;
  transition: width 0.5s ease-in-out;
}

.menuContainer.expanded {
  width: 172px !important;
}

body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.5s ease-in-out;
  z-index: -1;
  pointer-events: none;
}

body.vignette::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  transition: background-color 0.5s ease-in-out;
  z-index: 9998;
  pointer-events: auto;
}

.menuRule {
  background: rgb(150, 150, 150);
  width: calc(100% - 4px);
  height: 3px;
  margin-top: 4px;
  margin-bottom: 4px;
  border-radius: 1em;
}

.menuList {
  list-style: none;
  width: 100%;
  padding: 0 0.2em;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  white-space: nowrap;
}

.menuList>li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menuList>li>button>ion-icon {
  margin-right: 5px;
}

/* Settings */
.settingsMenu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
  width: 0;
  height: 100vh;
  background-color: var(--menubg);
  transition: width 0.5s ease;
  padding: 0;
}

.settingsMenu.expanded {
  width: 256px;
  padding: 5px;
}

.settingsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

#closeSettingsButton {
  margin-left: auto;
}