.menuContainer {
  position: fixed;
  top: 0;
  background: var(--menubg);
  width: 48px;
  height: 100%;
  left: 0;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  overflow: hidden;
  transition: width 0.5s ease-in-out;
}

.expanded {
  width: 172px !important;
}
.expanded::backdrop {
  background-color: rgba(0,0,0,0.5);
}

.menuRule {
  background: rgb(150, 150, 150);
  width: calc(100% - 4px);
  height: 3px;
  margin-top: 4px;
  margin-bottom: 4px;
  border-radius: 1em;
}

.menuList {
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
/*  justify-items: center;*/
  text-wrap: nowrap;
}

.menuList>li>button>ion-icon {
  margin-right: 5px;
}