.menuContainer {
  position: fixed;
  top: 0;
  background: var(--menubg);
  width: 48px;
  height: 100%;
  left: 0;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  z-index: 9999;
  overflow: hidden;
  transition: width 0.5s ease-in-out;
}

.expanded {
  width: 172px !important;
}

body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.5s ease-in-out;
  z-index: -1;
  pointer-events: none;
}

body.vignette::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: background-color 0.5s ease-in-out;
  z-index: 9998;
  pointer-events: auto;
}

.menuRule {
  background: rgb(150, 150, 150);
  width: calc(100% - 4px);
  height: 3px;
  margin-top: 4px;
  margin-bottom: 4px;
  border-radius: 1em;
}

.menuList {
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-items: center;
  white-space: nowrap;
}

.menuList>li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menuList>li>button>ion-icon {
  margin-right: 5px;
}