:root {
  --txtclr: #000;
  --bgclr: #FFF;
  --stclr: #000;
  --mnubtnclr: black;
  --chtsubbg: #FFF;
  --chtinpbg: #ececec;
  --apndbrdr: black;
  --menubg: #c6c6c6;
  --accent: #1d5ea9;
  --link-fade: #34beeb;
}

@media (prefers-color-scheme: dark) {
  :root {
  --stclr: #c7c5c5;
  --bgclr: #323333;
  --mnubtnclr: #edebeb;
  --txtclr: whitesmoke;
  --chtsubbg: #575959;
  --chtinpbg: #575959;
  --apndbrdr: white;
  --menubg: #212121;
  --accent: #7434eb;
  --link-fade: #b690fc;
}
}

html,
body {
  padding: 10px;
  font-family: "Inter Tight", sans-serif;
  overflow: hidden;
  margin-left: 30px;
  background: var(--bgclr);
  color: var(--txtclr)
}

textarea {
  resize: none;
}

a {
  text-decoration: underline;
  transition: color 1.5s;
  color: inherit;
  cursor: pointer;
  user-select: none;
}

a:hover {
  text-decoration: underline;
  transition: color 0.5s;
  color: var(--link-fade);
}

.statusmsg {
  font-weight: bold;
  color: var(--stclr);
}

.watermark {
  position: fixed;
  bottom: 10px;
  width: 100%;
  left: 0;
  text-align: center;
}
